button{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 5px;
  height: 45px;
  width: 65px;
  color: aliceblue;
  font-size: 25px;
  transition: 0.2s;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(85, 78, 78);
}

button:active{
  background-color: rgb(68, 68, 68);
  transition: none;
}

.button.triple {
  background-color: rgba(255, 0, 0, 0);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  font-size: 30px;
  color: rgba(0, 136, 255, 0);
  cursor: pointer;
  border: 0ch;
}

.button.v{
  height: 149px;
  position: absolute;
  font-size: 30px;

}

.button.operation {
  background-color: rgba(0, 0, 0, 0.1);
}